<% color = req.data.color || 'red' %>
<html>
<head>
    <title>CSS Test</title>
    <link rel="stylesheet" type="text/css" href="/test2-css.jst?color=<%= color %>" />
</head>
<body>
<h1>H1 Style Test</h1>
</body>
</html>
